extends layout

block content
    section(id="home")
        div.title
        div.container
            div.row
                div.col.s12
                    h1 Reamp
            div.row.selecao
                div.col.s12.m6.l3
                    a(href="/computadores")
                        i.fa.fa-5x.fa-laptop
                        span Computadores
                div.col.s12.m6.l3
                    a(href="/monitores")
                        i.fa.fa-5x.fa-desktop
                        span Monitores
                div.col.s12.m6.l3
                    a(href="/moveis")
                        i.fa.fa-5x.fa-home
                        span Móveis
                div.col.s12.m6.l3
                    a(href="/outros")
                        i.fa.fa-5x.fa-coffee
                        span Outros
    